{
  "modelId": {{.Model}},
  "contents": [
    {
      "role": "user",
      "parts": [
        {
          "text": {{.UserPrompt}}
        }
      ]
    }
  ],
  "generationConfig": {
    "responseModalities": ["IMAGE"]
  }
}
