{
  "modelId": {{.ModelID}},
  "payload": {
    "prompt": {{.UserPrompt}},
    "number_of_images": 1,
    "aspect_ratio": "1:1",
    "safety_filter_level": "block_some",
    "person_generation": "allow_all"
  }
}
